@tailwind base;

@tailwind components;

@tailwind utilities;

* {
    padding: 0;
    margin: 0;
}
.materialize_color {
    color: #ee6e73;
}
.bulma_color {
    color: #00d1b2;
}
.widht1 {
    width: 49%;
}
.height1 {
    height: calc(50vh - 64px);
    background: #eee;
}
.height2 {
    height: 50vh;
}

.CdeMirror {
    height: 100% !important;
}

.overlay {
    background: rgba(0, 0, 0, 0.8);
}

.h-94 .CodeMirror,
.height .CodeMirror {
    height: 100%;
}
.view4_height {
    height: calc(100vh - 64px);
    padding-bottom: 0 !important;
}
.normal-h .CodeMirror {
    height: 32vh;
}
.h-69 .CodeMirror {
    height: 100%;
}
.height_viewer {
    height: 96% !important;
}
.top-h {
    height: 48%;
}
.top-h .CodeMirror {
    height: calc(50vh - 126px) !important;
}
.h-69 {
    height: calc(100% - 80px);
}
.light .CodeMirror {
    height: calc(50vh - 78px);
}
.checkbox:checked {
    right: 0;
}
.checkbox:checked + .toggle-label {
    background-color: #0ea5e9;
}
.CodeMirror {
    height: 100%;
}
.h-94 {
    height: 90%;
    padding-bottom: 0;
}
.CodeMirror-scroll::-webkit-scrollbar {
    width: 0 !important;
}
.CodeMirror-scroll {
    overflow: -moz-scrollbars-none;
}
.CodeMirror-scroll {
    -ms-overflow-style: none;
}
@media (min-width: 320px) and (max-width: 1280px) {
    .height1,
    .height2 {
        height: calc(100vh - 64px);
    }
    .height1 {
        height: calc(100vh - 133px);
    }
}
.customFontSize14 {
    font-size: 14px;
}
.customFontSize16 {
    font-size: 16px;
}
.customFontSize18 {
    font-size: 18px;
}
.customFontSize20 {
    font-size: 20px;
}
.customFontSize22 {
    font-size: 22px;
}
.CodeMirror {
    background: rgba(126, 126, 189, 0.527);
}
