@tailwind base;

@tailwind components;

@tailwind utilities;

* {
    padding: 0;
    margin: 0;
}

.widht1 {
    width: 49%;
}
.height1 {
    height: calc(50vh - 64px);
    background: #eee;
}
.height2 {
    height: 50vh;
}

.CdeMirror {
    height: 100% !important;
}

.overlay {
    background: rgba(0, 0, 0, 0.8);
}

.h-94 .cm-s-tuk.CodeMirror,
.height .cm-s-tuk.CodeMirror {
    background: #1f2937;
    color: #e0e0e0;
    height: 100%;
}
.view4_height {
    height: calc(100vh - 64px);
    padding-bottom: 0 !important;
}
.normal-h .cm-s-tuk.CodeMirror {
    background: #1f2937;
    color: #e0e0e0;
    height: 32vh;
}
.h-69 .cm-s-tuk.CodeMirror {
    background: #1f2937;
    color: #e0e0e0;
    height: 100%;
}
.height_viewer {
    height: 96% !important;
}
.top-h {
    height: 48%;
}
.top-h .cm-s-tuk.CodeMirror {
    height: calc(50vh - 126px) !important;
}
.h-69 {
    height: calc(100% - 80px);
}
.light .cm-s-tuk.CodeMirror {
    background: #374151;
    color: #e0e0e0;
    height: calc(50vh - 78px);
}
.cm-s-tuk div.CodeMirror-selected {
    background: rgba(126, 126, 189, 0.527);
}
.cm-s-tuk .CodeMirror-line::selection,
.cm-s-tuk .CodeMirror-line > span::selection,
.cm-s-tuk .CodeMirror-line > span > span::selection {
    background: rgba(48, 48, 48, 0.99);
}
.cm-s-tuk .CodeMirror-line::-moz-selection,
.cm-s-tuk .CodeMirror-line > span::-moz-selection,
.cm-s-tuk .CodeMirror-line > span > span::-moz-selection {
    background: rgba(48, 48, 48, 0.99);
}
.cm-s-tuk .CodeMirror-gutters {
    background: #1f2937;

    border: none;
}

.light1 .cm-s-tuk .CodeMirror-gutters {
    background: #374151;
    border: none;
}
.cm-s-tuk .CodeMirror-guttermarker {
    color: #ac4142;
}
.cm-s-tuk .CodeMirror-guttermarker-subtle {
    color: #505050;
}
.cm-s-tuk .CodeMirror-linenumber {
    color: #d1d5db;
}
.cm-s-tuk .CodeMirror-cursor {
    border-left: 1px solid #b0b0b0;
}

.cm-s-tuk span.cm-comment {
    color: #8f5536;
}
.cm-s-tuk span.cm-atom {
    color: #aa759f;
}
.cm-s-tuk span.cm-number {
    color: #f0d35d;
}

.cm-s-tuk span.cm-property,
.cm-s-tuk span.cm-attribute {
    color: #6dd7b9;
}
.cm-s-tuk span.cm-keyword {
    color: #0ea5e9;
}
.cm-s-tuk span.cm-string {
    color: #f0d35d;
}

.cm-s-tuk span.cm-variable {
    color: #f0d35d;
}
.cm-s-tuk span.cm-variable-2 {
    color: #f0d35d;
}
.cm-s-tuk span.cm-def {
    color: #d28445;
}
.cm-s-tuk span.cm-bracket {
    color: #e0e0e0;
}
.cm-s-tuk span.cm-tag {
    color: #0ea5e9;
}
.cm-s-tuk span.cm-link {
    color: #aa759f;
}
.cm-s-tuk span.cm-error {
    background: #ac4142;
    color: #b0b0b0;
}

.cm-s-tuk .CodeMirror-activeline-background {
    background: #202020;
}
.cm-s-tuk .CodeMirror-matchingbracket {
    text-decoration: underline;
    color: white !important;
}
.cm-s-tuk span.cm-bracket {
    color: #c4c4c4;
}

.checkbox:checked {
    right: 0;
}
.checkbox:checked + .toggle-label {
    background-color: #0ea5e9;
}
.CodeMirror {
    font-size: 1.1rem;
    height: 100%;
}
.h-94 {
    height: 90%;
    padding-bottom: 0;
}
.CodeMirror-scroll::-webkit-scrollbar {
    width: 0 !important;
}
.CodeMirror-scroll {
    overflow: -moz-scrollbars-none;
}
.CodeMirror-scroll {
    -ms-overflow-style: none;
}
@media (min-width: 320px) and (max-width: 1280px) {
    .height1,
    .height2 {
        height: calc(100vh - 64px);
    }
    .height1 {
        height: calc(100vh - 133px);
    }
}
